{%extends 'gram/base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}





    {% if user.is_authenticated %}
    <div class="container" style="padding-bottom:3%;">


    <div class="row">
      <div class="col-md-8">
       <h2><h3>
      <a href="{% url 'new-profile' %}"><img src="{{userProfile.profile_photo.url}}"  class="img-responsive" alt="" style="height:8em;border-radius:60%;margin-bottom:2%;margin-left:4%;"></a>
       <h2 style="float:left;margin-top:-30vh;margin-left:23vw;font-family: 'Metrophobic', sans-serif;">{{user.username}}<h3>
      <h2 style="float:right;margin-top:-20vh;font-family: 'Metrophobic', sans-serif;">{{userProfile.bio}}</h2>
    </div>
    <a href="{% url 'new-posts' %}">post here</a>
</div>
</div>



  {%endif%}
<div class="container" style="margin-left:11vh;">
  {% for photo_item in photo %}
  <img src="{{photo_item.image.url}}" style="height:50vh;padding:0.8%;">
  {%endfor%}
  </div>
{% endblock %}
