{% load bootstrap3 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Profile</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
{% endblock %}
<nav class="navbar navbar-blank">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Instagram</a>
    </div>

    <!-- Adding a search form -->
    <div class="col-sm-4 navbar-right">


      <!-- search form end -->
      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>


              <li><a href="{% url 'myprofile'%}">Your Profile</a></li>
              <li><a href="/accounts/password/change">Change Password</a></li>
              <li><a href="/logout">Logout</a></li>


        </ul>
        {% else %}
        <li><a class="btn btn-default" href="/accounts/login">Login</a>
          <li><a class="btn btn-default" href="/accounts/register">register</a>
        </li>
        {%endif%}
      </div>
  </div>
</nav>
</head>

<body>

  <form  action="{%url 'new-profile' %}" method="post" enctype="multipart/form-data" style="width:30%;margin-left:30vw;">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>
